@font-face {
    font-family: "Limelight-Regular";
    src: url("Limelight-Regular.ttf") format("truetype");
  }
body{
    margin: 0;
    background-image: url(maoCofrinho.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: block;
    text-align: left;
    margin-top: 5%;
    font-family: Limelight-Regular;
}
.wrap{
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: center;
    background: #f8f7d1;
    width: min-content;
    min-width: 30vw;
    margin-left: 10vw;
}
.moeda{

    display: flex;
    justify-content: right;

    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.texto{
    color:  #3D5B59;
    font-size: x-large;
}
header{
    font-size: calc(20px + 5vh);
    text-align: center;
    font-weight: bolder;
    color:  #FFC2C7;
}
.caixa{
    width: 100px;
    text-align: center;
}
#depositar{
    border-radius: 20px;
    font-weight: bolder;
    color: black;
    background-color: #B4F8C8;
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-family: Limelight-Regular;
}
#botao{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
#depositar:hover{
    background-color: #FEE7E6;
    cursor: pointer;
}
#resultado{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
    color:  #3D5B59;
    font-size: xx-large;
}

@media only screen and (max-width: 787px) {
    body{
        display: flex;
        justify-content: center;
        margin-left: 0;
        align-items: center;
    }

    header{
        margin-top: 20px;
    }
    
    .wrap{
        margin-left: 0;
        width: 90vw;
    }

}